<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
     <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8">
    <style>
    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
        }
    .table-wrapper-scroll-y {
        display: block;
        }
    .active {
        stroke: #000;
        stroke-width: 2px;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Cisco DNA Spaces Accuracy Test Tool</title>
  </head>
  <body onload="plotDevices()">
    <div class="container-fluid">
        <div class="col">
        <div class="card-group">
            <div class="card">
                <h5 class="card-header">Cisco DNA Spaces Firehose Accuracy Tool - Activation</h5>
                    <div class="card-body">
                        <h5 class="card-title">Activate Firehose App to get API Key</h5>
                          <form action="/activate" method=post>
                            <dl>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Firehose Activation Token</span>
                              </div>
                                <input type="text" class="form-control" placeholder="App Activation Token"  type=text name=token>
                                <input class="btn btn-primary" type=submit name="Activate" value="Activate"></dd>
                            </div>
                            </dl>
                          </form>

                  <p class="card-text">Provide your MAC address, X and Y coordinates on the map and hit start. The output will include a table of location errors for each
                  new location update from DNA Spaces and the time since the start button his hit. </p>
                        <form action="/" method=post>
                            <dl>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Firehose API Key</span>
                              </div>
                              <input type="text" class="form-control" value="{{ api_key }}" placeholder="API Key" name="api_key" type="text" required>
                            </div>

                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">MAC Address</span>
                              </div>
                              <input class="form-control" value="{{ client.mac | safe }}" placeholder="aa:bb:cc:dd:ee:ff or blank for search mode." id="mac_address" type=text length="17" name=mac_address>
                            </div>

                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Real Coordinates (x,y)</span>
                              </div>
                              <input type="number" value="{{ client.x }}" step="0.1" id="real_x" class="form-control" name=x_coordinates>
                              <input type="number" value="{{ client.y }}" step="0.1" id="real_y" class="form-control" name=y_coordinates >

                                 <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                  <label class="btn btn-secondary active">
                                  {% if client.unit == "feet" %}
                                    <input type="radio" name="measurement" id="measurement_feet" value="feet" autocomplete="off" checked> Feet
                                  </label>
                                  <label class="btn btn-secondary">
                                    <input type="radio" name="measurement" id="measurement_metres" value="metres" autocomplete="off"> Metres
                                  {% else %}
                                    <input type="radio" name="measurement" id="measurement_feet" value="feet" autocomplete="off"> Feet
                                  </label>
                                  <label class="btn btn-secondary">
                                    <input type="radio" name="measurement" id="measurement_metres" value="metres" autocomplete="off" checked> Metres
                                  {% endif %}
                                  </label>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Location Id</span>
                              </div>
                              <input class="form-control" value="{{ client.location_id | safe }}"  id="location_id" placeholder="Location Id (if known)" type=text name=location_id>
                            </div>

                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Time to test (sec)</span>
                              </div>
                              <input class="form-control" value={{ client.test_time }}  type=number step="0" name=test_time>
                            </div>

                            <dd><input class="btn btn-primary" type=submit name="submit" value="Track">
                            </dl>
                        </form>
                  <p class="card-text"><small id="api_token_help" class="text-muted">Status: Total events received: {{ client.total_events }} Total Interesting Events: {{ client.number_updates }}</small> </p>
                </div>
            </div>
            <div class="card">
            <h5 class="card-header">Summary Statisitics</h5>
                <div class="card-body">
                    {%  if client.number_updates > 0 %}
                    <small>
                        <table class="table table-striped" id="statistics">
                                <thead>
                                    <tr>
                                        <th scope="col">Statistic</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>Device Under Test</td>
                                            <td>{{ client.mac }}</td>
                                        </tr>
                                        <tr>
                                            <td>Real Location</td>
                                            <td>({{ client.x }}, {{ client.y }})</td>
                                        </tr>
                                        <tr>
                                            <td>Average Accuracy (mtrs)</td>
                                            <td>{{ stats.average_accuracy }}</td>
                                        </tr>
                                        <tr>
                                            <td>Median Accuracy (mtrs)</td>
                                            <td>{{ stats.median_accuracy }}</td>
                                        </tr>
                                        <tr>
                                            <td>Precision 20 mtrs</td>
                                            <td>{{ stats.precision_20 }}%</td>
                                        </tr>
                                        <tr>
                                            <td>Precision 15 mtrs</td>
                                            <td>{{ stats.precision_15 }}%</td>
                                        </tr>
                                        <tr>
                                            <td>Precision 10 mtrs</td>
                                            <td>{{ stats.precision_10 }}%</td>
                                        </tr>
                                        <tr>
                                            <td>Precision 5 mtrs</td>
                                            <td>{{ stats.precision_5 }}%</td>
                                        </tr>
                                        <tr>
                                            <td>Average Update Interval (sec)</td>
                                            <td>{{ stats.average_latency }}</td>
                                        </tr>
                                        <tr>
                                            <td>Median Update Time (sec)</td>
                                            <td>{{ stats.median_latency }}</td>
                                        </tr>
                                        <tr>
                                            <td>Floor Change events:</td>
                                            <td>{{ stats.floor_change }}</td>
                                        </tr>
                                </tbody>
                            </table>
                    </small>
                    {% endif %}
                    {%  if client.number_updates > 0 %}
                        <button class="btn btn-primary" onclick="exportData()"><i class="fa fa-download"></i> Download</button>
                    {%  else %}
                        <button class="btn btn-primary" onclick="exportData()" disabled><i class="fa fa-download"></i> Download</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Map</h5>
                    <p class="card-text"><small id="floor_image_status" class="text-muted">Status</small></p>
                    <svg id="image" width="{{ img_width if img_width > 1.0 else 800 }}" height="{{ img_height if img_height > 1.0 else 400 }}"></svg>

            </div>
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Location updates</h5>
          <div class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <div class="col-4">
                <div class="row">
                  <div class="input-group mb-1">
                      <span class="input-group-text" id="basic-addon1">Search</span>
                      <input class="form-control" type="text" id="search_username" aria-label="myInput_username" onkeyup="myFunction()" placeholder="Username.." aria-describedby="basic-addon1">
                      <input class="form-control" type="text" id="search_mac" aria-label="myInput_mac" onkeyup="myFunction()" placeholder="MAC Address.." aria-describedby="basic-addon1">
                      <input class="form-control" type="text" id="search_location" aria-label="myInput_location" onkeyup="myFunction()" placeholder="Location.." aria-describedby="basic-addon1">
                      <input class="form-control" type="text" id="search_location_id" aria-label="myInput_location_id" onkeyup="myFunction()" placeholder="Location Id.." aria-describedby="basic-addon1">
                    </div>
                </div>
          </div>
            <table class="table table-striped table-hover" id="location_updates">
                <thead>
                    <tr>
                        <th scope="col">Timestamp</th>
                        <th scope="col">MAC</th>
                        <th scope="col">Username</th>
                        <th scope="col">Predicted X</th>
                        <th scope="col">Predicted Y</th>
                        <th scope="col">Error Distance</th>
                        <th scope="col">Location</th>
                        <th scope="col">Location Id</th>
                        <th scope="col">Confidence Factor (mtrs)</th>
                        <th scope="col">Seconds Elapsed Last Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for updates in client.location_updates %}
                        <tr onclick="macSelectedTable(this)">
                            <td>{{updates.timestamp}}</td>
                            <td>{{updates.mac}}</td>
                            <td>{{updates.username}}</td>
                            <td>{{updates.x}}</td>
                            <td>{{updates.y}}</td>
                            <td>{{updates.error}}</td>
                            <td>{{updates.location}}</td>
                            <td>{{updates.location_id}}</td>
                            <td>{{updates.confidence_factor}}</td>
                            <td>{{updates.seconds}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
          </div>
        </div>
  </div>
</div>
    <!-- Optional JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  {% block javascript %}

    <script type="module">

    import {drag} from "https://cdn.skypack.dev/d3-drag@3";

    const handler = drag();

    </script>
    <script type="text/javascript">

        function macSelectedTable(row) {
            let mac_search = document.getElementById("mac_address");
            let location_id_search = document.getElementById("location_id");
            let real_x = document.getElementById("real_x");
            let real_y = document.getElementById("real_y");
            let measurement_metres = document.getElementById("measurement_metres");
            console.log("macSelectedTable(): ", row.rowIndex, row.cells[1].innerText, row.cells[6].innerText);
            mac_search.value = row.cells[1].innerText
            location_id_search.value = row.cells[7].innerText
        }

        function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue, username, mac, location, location_id, col;
          username = document.getElementById("search_username");
          mac = document.getElementById("search_mac");
          location = document.getElementById("search_location");
          location_id = document.getElementById("search_location_id");

          if (username.value.length > 0) {
              input = username;
              col = 2;
              console.log("Username", username.value);
          } else if (mac.value.length > 0) {
              input = mac;
              col = 1;
              console.log("MAC", mac.value);
          } else if (location.value.length > 0){
              input = location;
              col = 6;
              console.log("Location", location.value);
          } else {
              console.log("Location Id", location_id.value);
              input = location_id;
              col = 7;
          }

          filter = input.value.toUpperCase();
          table = document.getElementById("location_updates");
          tr = table.getElementsByTagName("tr");
          console.log("Filter", filter, col);
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[col];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }


        function exportData() {
            /* Get the HTML data using Element by Id */
            var table = document.getElementById("location_updates");

            /* Declaring array variable */
            var rows = [];

            //iterate through rows of table
            for (var i = 0, row; row = table.rows[i]; i++) {
                //rows would be accessed using the "row" variable assigned in the for loop
                //Get each cell value/column from the row
                column1 = row.cells[0].innerText;
                column2 = row.cells[1].innerText;
                column3 = row.cells[2].innerText;
                column4 = row.cells[3].innerText;
                column5 = row.cells[4].innerText;
                column6 = row.cells[5].innerText;
                column7 = row.cells[6].innerText;
                column8 = row.cells[7].innerText;
                column9 = row.cells[8].innerText;
                column10 = row.cells[9].innerText;

                /* add a new records in the array */
                rows.push(
                    [
                        column1,
                        column2,
                        column3,
                        column4,
                        column5,
                        column6,
                        column7,
                        column8,
                        column9,
                        column10
                    ]
                );

            }
            csvContent = "data:text/csv;charset=utf-8,";
            /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
            rows.forEach(function (rowArray) {
                row = rowArray.join(",");
                csvContent += row + "\r\n";
            });

            /* create a hidden <a> DOM node and set its download attribute */
            var encodedUri = encodeURI(csvContent);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "DNASpaces_Accuracy_Report.csv");
            document.body.appendChild(link);
            link.click();
        }

        function plotDevices(){
            console.log("plotDevice(): function called.");
            let data = {{ client.location_updates|tojson|safe }};
            const map = "data:image/jpg;base64," + "{{ img_data }}";
            const dim_width = {{ dim_width | safe }};
            const dim_length = {{ dim_length | safe }};
            const img_width = {{ img_width| safe }};
            const img_height = {{ img_height | safe }};
            const margin = {top: 0, right: 0, bottom: 0, left: 0}
            const width = img_width - margin.left - margin.right;
            const height = img_height - margin.top - margin.bottom;

            // set the ranges
            let xScale = d3.scaleLinear()
                .domain([0, dim_width])
                .range([0, width]);

            let yScale = d3.scaleLinear()
                .domain([dim_length, 0])
                .range([height, 0]);

            if (data.length > 0) {
                console.log("plotDevices(): x value dim_width scaled to ", xScale(dim_width));
                console.log("plotDevices(): y value dim_length scaled to ", yScale(dim_length));
                console.log("Dimension width, length, Image width height", dim_width, dim_length, img_width, img_height);

                d3.select("#image")
                    .append('image')
                    .attr("y","0")
                    .attr("x","0")
                    .attr('xlink:href', map)
                    .attr('width', "{{ img_width }}")
                    .attr('height', "{{ img_height }}")
                    .attr("class", "bg-image")
                    .style("opacity", 0.5)
                    .on('click', function() {
                        console.log("Mouse position (x,y)", d3.event.pageX, xScale.invert(d3.event.pageX), d3.event.pageY, yScale.invert(d3.event.pageY)) // log the mouse x,y position
                        let real_x = document.getElementById("real_x");
                        let real_y = document.getElementById("real_y");
                        let measurement_metres = document.getElementById("measurement_metres");
                        real_x.value = xScale.invert(d3.event.pageX).toFixed(1)
                        real_y.value = yScale.invert(d3.event.pageY).toFixed(1);
                        measurement_metres.checked = true;
                        });

                d3.select("#image")
                    .append("g")
                    .attr("id", "devices")
                    .selectAll("circle")
                    .data(data)
                    .enter()
                    .append("circle")
                    .attr("r", 4)
                    .attr("cx", function(d){ return xScale(d.x)})
                    .attr("cy", function(d){ return yScale(d.y)})
                    .style("fill", "lime")
                    .style("opacity", 0.5)
                    .style("stroke", "darkgreen");


                let real_position_data = [{x: img_width/2, y: img_height/2}];
                let real_x = document.getElementById("real_x").value;
                let real_y = document.getElementById("real_y").value;
                console.log("Plot real x, y", real_x, real_y);

                if (real_x > 0) {
                    real_position_data = [{x: xScale(real_x), y: yScale(real_y)}];
                    console.log("Set real position data", real_position_data);
                };
                console.log("Real position data", real_position_data);
                d3.select("svg")
                    .append("g")
                    .attr("class", "circles")
                    .selectAll("circle")
                    .data(real_position_data)
                    .enter()
                    .append("circle")
                    .attr("cx", function (d) { return d.x; })
                    .attr("cy", function (d) { return d.y; })
                    .attr("r", 6)
                    .style("fill", "red")
                    .style("stroke", "darkred")
                    .on("mouseover", function (d) {d3.select(this).style("cursor", "move");})
                    .on("mouseout", function (d) {})
                    .call(d3.drag()
                          .on("start", dragstarted)
                          .on("drag", dragged)
                          .on("end", dragended)
                          );


                    // Add the X Axis
                    d3.select("svg").append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis);

                    // Add the Y Axis
                    d3.select("svg").append("g")
                        .attr("class", "y axis")
                        .call(yAxis);
            }
            function dragstarted(d) {
                d3.select(this).raise().classed("active", true);
            }

            function dragged(d) {
                d3.select(this).attr("cx", d.x = d3.event.x).attr("cy", d.y = d3.event.y);
            }

            function dragended(d) {
                d3.select(this).classed("active", false);
                let real_x = document.getElementById("real_x");
                let real_y = document.getElementById("real_y");
                let measurement_metres = document.getElementById("measurement_metres");
                real_x.value = xScale.invert(d3.event.x).toFixed(1)
                real_y.value = yScale.invert(d3.event.y).toFixed(1);
                measurement_metres.checked = true;
                console.log("Drag end, set x,y real position ", real_x.value, real_y.value);
            }
        }



</script>
  {% endblock %}

    </div>
  </body>
</html>